material $ground_plane_material_name
    {
      technique
      {
        pass
        {


          texture_unit
          {
            texture ../textures/$map_pic
            filtering trilinear
          }
        }
      }
    }