<launch>
  <arg name="robot_package" default="$robot_pkg" />
  <arg name="robot_launch" default="$robot_launch" />

  <arg name="x" default="$coord_x" />
  <arg name="y" default="$coord_y" />
  <arg name="z" default="0.01" />
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0"/>

  <include file="\$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="\$(find simulator_gazebo)/worlds/$world_file"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

   <include file="\$(eval find(robot_package) + '/launch/robot_launch/' + robot_launch)">
     <arg name="x" value="\$(arg x)" />
     <arg name="y" value="\$(arg y)" />
     <arg name="z" value="\$(arg z)" />
     <arg name="roll" value="\$(arg roll)"/>
     <arg name="pitch" value="\$(arg pitch)"/>
     <arg name="yaw" value="\$(arg yaw)" />
   </include>

</launch>