<launch>
  <arg name="robot_package" default="simulator_gazebo" />
  <arg name="robot_launch" default="turtlebot3_burger.launch" />

  <arg name="x" default="-1.1" />
  <arg name="y" default="-0.7" />
  <arg name="z" default="0.01" />
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulator_gazebo)/worlds/construct_region_map_mod_1.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

   <include file="$(eval find(robot_package) + '/launch/robot_launch/' + robot_launch)">
     <arg name="x" value="$(arg x)" />
     <arg name="y" value="$(arg y)" />
     <arg name="z" value="$(arg z)" />
     <arg name="roll" value="$(arg roll)"/>
     <arg name="pitch" value="$(arg pitch)"/>
     <arg name="yaw" value="$(arg yaw)" />
   </include>

</launch>
