# This is a configuration definition file in folder "/home/dongyanqi/myLTLMoP/src/projects/indoor_partrol/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
ROS

Name: # Configuration name
Untitled configuration

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
ROS.RosActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1.04620654e-01, -1.20202006e+02,  6.14927755e+02],
       [-1.19461399e+02, -1.93507374e-01,  3.26621738e+02],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
ROS.OriginalRosDriveHandler(d=0.3)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
ROS.RosInitHandler(init_region="porch",worldFile="ltlmop_map.world",robotPixelWidth=60,robotPhysicalWidth=0.5,robotPackage="simulator_gazebo",robotLaunchFile="turtlebot3_burger.launch",modelName="turtlebot3_burger")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
ROS.OriginalRosLocomotionCommandHandler(velocityTopic="/cmd_vel")

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
ROS.RosPoseHandler(modelName="turtlebot3_burger")

RobotName: # Robot Name
ROS

SensorHandler: # Sensor handler file in robots/Type folder
ROS.RosSensorHandler()

Type: # Robot type
ROS

